---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/Article">
    {% include header.html %}
    <main class="content" role="main">
      <article class="post">
        {% if page.image %}
        <div class="article-image">
          <div class="post-image-image" style="background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({% if page.image %}{{ page.image | prepend: site.baseurl }}{% endif %})">
            Article Image
          </div>
          <div class="post-image-image2" style="background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({% if page.image2 %}{{ page.image2 | prepend: site.baseurl }}{% endif %})">
            Article Image
          </div>
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="cf post-meta-text">
              <div class="author-image" style="background-image: url('{{ site.author_image | prepend: site.baseurl }}')">Blog Logo</div>
              <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ site.author }}</h4>
              &nbsp;&nbsp;·&nbsp;&nbsp;
              {% capture day %}{{ page.date | date: "%-d" }}{% endcapture %}
              {% capture dayLastTwoDigits %}{{ day | modulo: 100 }}{% endcapture %}
              {% if dayLastTwoDigits >= "11" and dayLastTwoDigits <= "13" %}
                {% assign ordinal = "th" %}
              {% else %}
                {% capture dayLastDigit %}{{ day | modulo: 10 }}{% endcapture %}
                {% case dayLastDigit %}
                  {% when "1" %}
                    {% assign ordinal = "st" %}
                  {% when "2" %}
                    {% assign ordinal = "nd" %}
                  {% when "3" %}
                    {% assign ordinal = "rd" %}
                  {% else %}
                    {% assign ordinal = "th" %}
                {% endcase %}
              {% endif %}
              {% capture ordinalSup %}<sup>{{ ordinal }}</sup>{% endcapture %}
              {% capture ordinalDay %}{{ day | append: ordinalSup }}{% endcapture %}
              <i class="fa fa-calendar-o"></i>&nbsp;
              <!--<time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_long_string }}</time>-->
              <time datetime="{{ post.date | date_to_long_string }}">{{ ordinalDay }} {{ page.date | date: "%B %Y" }}</time>
              <br class="visible-small">
              <div class="reading-time">
                <span class="hidden-small">&nbsp;&nbsp;·&nbsp;&nbsp;</span>
                <i class="fa fa-file-text-o"></i>&nbsp;
                <span class="post-word-count"></span> words
                &nbsp;&nbsp;·&nbsp;&nbsp;
                <i class="fa fa-clock-o"></i>&nbsp;
                <span class="post-reading-time"></span> read
              </div>
              <div class="disqus-count">
                &nbsp;&nbsp;·&nbsp;&nbsp;
                <i class="fa fa-comments-o"></i>&nbsp;
                <span class="disqus-comment-count" data-disqus-url="{{ page.url | prepend: site.baseurl | prepend: site.url }}"></span>
              </div>
              <br>
              {% for slug in page.tags %}<span class="post-tag post-tag-{{ slug }}">{{ slug }}</span>{% endfor %}
            </div>
            <div style="text-align:center">
              <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down animated pulse infinite"></i></a>
            </div>
          </div>
        </div>
        {% else %}
        <div class="noarticleimage">
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="cf post-meta-text">
              <div class="author-image" style="background-image: url('{{ site.author_image | prepend: site.baseurl }}')">Blog Logo</div>
              <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ page.author }}</h4>
              on
              <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
              <br class="visible-small">
              <div class="reading-time">
                <span class="hidden-small">&nbsp;·&nbsp;</span>
                <span class="post-word-count"></span> words
                &nbsp;·&nbsp;
                <span class="post-reading-time"></span> read
              </div>
              {% comment %}
              tagged on {% for slug in page.tags %}<span class="post-tag-{{ slug }}">{% unless forloop.first %}, {% endunless %}<a href="/tag/{{ slug }}">{{ slug }}</a></span>{% endfor %}
              {% endcomment %}
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        {% endif %}
        <section class="post-content">
          <a name="topofpage"></a>
          {{content}}
        </section>
        <footer class="post-footer">
          <section class="share">
            {% for social in site.social %}
              {% if social.share_url != null %}
                <a class="icon-{{ social.icon }}" href="{{ social.share_url }}{% if social.share_title %}{{ social.share_title }}{{page.title | cgi_escape}}{% endif %}{{ social.share_link }}{{site.url}}{{site.baseurl}}{{page.id}}"
                  onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
                <i class="fa fa-{{ social.icon }}"></i><span class="hidden">{{ social.icon }}</span>
                </a>
              {% endif %}
            {% endfor %}
          </section>
        </footer>
        <div class="bottom-teaser cf">
          <div class="isLeft">
            <h5 class="index-headline featured"><span>Written by</span></h5>
            <section class="author">
              <div class="author-image" style="background-image: url('{{site.author_image | prepend: site.baseurl}}')">Blog Logo</div>
              <h4>{{ site.author }}</h4>
              <p class="bio">{{author.bio}}</p>
              <hr>
              {% capture day %}{{ page.date | date: "%-d" }}{% endcapture %}
              {% capture dayLastTwoDigits %}{{ day | modulo: 100 }}{% endcapture %}
              {% if dayLastTwoDigits >= "11" and dayLastTwoDigits <= "13" %}
                {% assign ordinal = "th" %}
              {% else %}
                {% capture dayLastDigit %}{{ day | modulo: 10 }}{% endcapture %}
                {% case dayLastDigit %}
                  {% when "1" %}
                    {% assign ordinal = "st" %}
                  {% when "2" %}
                    {% assign ordinal = "nd" %}
                  {% when "3" %}
                    {% assign ordinal = "rd" %}
                  {% else %}
                    {% assign ordinal = "th" %}
                {% endcase %}
              {% endif %}
              {% capture ordinalSup %}<sup>{{ ordinal }}</sup>{% endcapture %}
              {% capture ordinalDay %}{{ day | append: ordinalSup }}{% endcapture %}
              <!--<p class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></p>-->
              <p class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ ordinalDay }} {{ page.date | date: "%B %Y" }}</time></p>
            </section>
          </div>
          <div class="isRight">
            <h5 class="index-headline featured"><span>Supported by</span></h5>
            <footer class="site-footer">
              <section class="poweredby">Proudly published with <a href="http://jekyllrb.com"> Jekyll</a></section>
              <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa fa-rss"></i> You should subscribe to my feed.</span></a>
              <div class="inner">
                <section class="copyright">All content copyright <a href="{{ "/" | prepend: site.baseurl }}">{{site.author}}</a> &copy; {{ site.time | date: '%Y' }}<br>All rights reserved.</section>
              </div>
            </footer>
          </div>
        </div>
        <script>
          window.single_post = true;
        </script>
        {%if site.disqus %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = '{{site.disqus}}'; // required: replace example with your forum shortname
            // Adds the onNewComment callback to the disqus_config of the embed code
            // that sends 'New Comment' events over to Google Analytics.
            // The callback can also be used for any other analytics service like Parse.ly, Chartbeat, Mixpanel
            var disqus_config = function() {
              this.callbacks.onNewComment = [function(comment) {
                ga('send', {
                  'hitType': 'event',            // Required.
                  'eventCategory': 'Comments',   // Required.
                  'eventAction': 'New Comment',  // Required.
                  'eventLabel': 'New Comment'
                });
              }];
            };
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}
      </article>
    </main>
    <div class="bottom-closer">
      <div class="background-closer-image" {%if site.cover %} style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Image
      </div>
      <div class="inner">
        <h1 class="blog-title">{{ site.title }}</h1>
        <h2 class="blog-description">{{ site.description }}</h2>
        <a href={{ "/" | prepend: site.baseurl }} class="btn">&larr; Back to All Posts</a>
      </div>
    </div>
    {% include javascripts.html %}
  </body>
</html>
